@model List<ClassroomAPI.Models.DB_Models.Notes>
@{
    ViewBag.Title = "Home Page";
    var teacherId = ViewBag.TeacherId;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" type="text/css">
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
@*<link rel="stylesheet" href="/resources/demos/style.css">*@
@*<link href="~/Content/jquery-ui.css" rel="stylesheet" />*@

<style>
    .group {
        zoom: 1;
    }
</style>
<script>
      $(function() {
        $( "#accordion" )
          .accordion({
              header: "> div > h3",
              collapsible: true
          })
          .sortable({
            axis: "y",
            handle: "h3",
            stop: function( event, ui ) {
              // IE doesn't register the blur when sorting
              // so trigger focusout handlers to remove .ui-state-focus
              ui.item.children( "h3" ).triggerHandler( "focusout" );

              // Refresh accordion to handle new order
              $( this ).accordion( "refresh" );
            }
          });
      });
</script>

<div class="jumbotron">
    <h1>My Classroom</h1>
    <p class="lead">*Something something DARKSIDE</p>
</div>
@Html.ActionLink("Add Note/Reminder", "AddNote")
<div id="accordion">
    @foreach (var item in Model)
    {
        if (item.TeacherId.Equals(teacherId))
        {
            <div class="group">
                <h3>@Html.ActionLink(item.Title, "NotesDescription", new { id = item.Id }) | Due: @item.DueDate</h3>
                <div>
                    <p>@Html.ActionLink("Remove Note", "DeleteNote", new { id = item.Id })</p>
                    @item.Description
                </div>
            </div>
        }
    }
</div>

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@
